body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f8f8f8;
  }

  .heading {
    background: linear-gradient(to right, #44222a, #ff4b2b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
     text-align: center;
    font-size: 25px;
}

  .payment-container {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    border: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
  }

  
  .google-pay {
    text-align: center;
    margin-bottom: 18px;
  }
  
  .google-pay img {
    max-width: 200px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-top: 10px;
    margin-bottom: 5px;
  }
  
  input {
    padding: 10px;
    margin-bottom: 15px;
  }
  
  button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  

/* Gradient color for the heading */


  